.HomeHeader {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6)
    ),
    url("../../assets/Banner-1.jpg");

  height: 88vh;
}

@media (max-width: 600px) {
  .HomeHeader {
    height: 100%;

    .text {
      margin-top: 5%;

      h1 {
        line-height: 90%;
      }
    }
    .pl-3 {
      padding-left: 2%;
      background-size: cover;
      background-position: center;
    }
  }
}
